<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="https://cdn.pixabay.com/photo/2015/12/03/22/15/tablet-1075789__340.jpg" sizes="16x16">
    <title>To-Do</title>
    <link rel="stylesheet" href="../assets/success.css">

</head>

<body>
    
  <h2 class="text"> Thank You <br> Work Submitted</h2>

</body>

</html>